h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
}
img{
    display: block;
}
a{
    color: #2E2F42;
}
header {
  position: sticky;
  top: 0;
  z-index: 3;
  color: #2E2F42;
}

.active {
    color: #404BBF;
  position: relative;
color: #4d5ae5
}
.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    
    background-color: #4D5AE5;
    border-radius: 2px;
    opacity: 1;
}
body{
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;

} 

.header1{
    background: #FFFFFF;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
border: 0px;
padding-bottom: 24px;
    padding-top: 24px;


}
.conteiner{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.logo2{
    color: #2E2F42;
}
.pages{
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;

padding-bottom: 26px;
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.aling_itms{
    display: flex;
}
.link_list{
    display: flex;
    width: 261px;
justify-content: space-between;
margin-left: 77px;
}
.textto_list{
    margin-left: auto;
    display: flex;
width: 344px;    justify-content: space-between;
}
.pages:hover,
.pages:focus {

color: #4D5AE5;
}
.main_info{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #434455;
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.main_info:hover,
.main_info:focus{
color: #4D5AE5;
}
.title{
align-self: center;
margin-bottom: 48px;
margin-right: auto;
margin-left: auto;
width: 500px;
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 56px;
line-height: 60px;
color: #FFFFFF;
text-align: center;
letter-spacing: 0.02em;
}
.button_os{
    display: block;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: #4D5AE5;
    cursor: pointer;
    border-radius: 4px;
    border: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button_os:hover{
    background: #404BBF;
    border: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   
}
.section1{
padding-top: 128px;
padding-bottom: 120px;
}
.list1{
    display: flex;
    width: 1128px;
height: 104px;
justify-content: space-between;
}
.boxing_list1{
    width: 264px;
height: 104px;
}

.text_in_box{
    text-align: center;
letter-spacing: 0.02em;
}
.team_box{
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    width: 264px;
}
.img_list{
    display: flex;
    justify-content: space-between;
}
.title1{
    background-image: url(img/Dark-bgfon.png), url(img/people-office1fon.png);
    background-position: center;
    background-size: color;
    background-repeat: no-repeat;
    padding-top: 192px;
    padding-bottom: 192px;
    width: 1440px;
    margin: 0 auto; 
    background-color: #2E2F42;
}
.feacher-item{
    width: 264px;
height: 112px;
margin-bottom: 8px;
}
.feacher-link{
    width: 100%;
    height: 100%;
    background-color: #F4F4FD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feacher-link:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.titles_p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
color: #2E2F42;
}
.parag{
    margin-top: 8px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #434455;
}
.sec2{
    padding-top: 120px;
    padding-bottom: 120px;

}
.tit_sec2{
    margin-bottom: 72px;
    text-align: center;
}
.tit_sec3{
margin-bottom:72px;
text-align: center;
}

.title2{
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 40px;
color: #2E2F42;

}
.pic_box{
    margin-top: 32px;
}
.team_memb{
    margin-bottom: 8px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
color: #2E2F42;
}
.memb_work{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #434455;
}
.team_list{
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.team_section{
   background-color: #F4F4FD;
   padding-top: 120px;
       padding-bottom: 120px;

}
.list-comp{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.comp-item{
    width: 168px;
    height: 88px;

}
.comp-link{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    width: 100%;
    height: 100%;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comp-icon{
    fill: #8E8F99;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comp-link:hover,
.comp-link:focus{
    border: 1px solid #4D5AE5;
}
.comp-link:hover .comp-icon{
    fill: #4D5AE5;
}

.footer{
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;

}
.footer_par{
    width: 264px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #E7E9FC;
}
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}
.footer_logo{
    margin-bottom: 8px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.port_button{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    font-family: 'Roboto';
    cursor: pointer;
font-style: normal;
font-weight: 600;
font-size: 16px;
height: 48px;
color: #4D5AE5;
background: #F4F4FD;
border: 1px solid #E7E9FC;
border-radius: 4px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.port_button:hover,
.port_button:focus{
    color: #FFFFFF;
    background: #4D5AE5;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border: 1px solid #4D5AE5;
}
.but_list{
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}
.but{
    margin-right: 24px;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 40px 32px 164px;
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #F4F4FD;
    background: #4D5AE5;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.card-img-wrapper {
  position: relative;
  overflow: hidden;
}
.link-card:hover .overlay,
.link-card:focus .overlay {
  transform: translate(0, 0);
}
.soc-list{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: 32px;
    justify-content: center;
    gap: 24px;
    width: 232px;
}
.foot-soc-list{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 208px;
}
.soc-item{
    width: 40px;
height: 40px;
}
.foot-soc-item{
    width: 40px;
height: 40px;
}
.soc-item-link{
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foot-soc-item-link{
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-item-link:hover{
    background-color: #404BBF;
}
.foot-soc{
    margin-left: 120px;
}
.foot-soc-item-link:hover{
    background: #31D0AA;
}
.sec3{
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 156px;
    padding-right: 156px;
}
.footer_tit2{
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #FFFFFF;
margin-bottom: 16px;

}
.port_list{
    font-family: 'Roboto';
font-style: normal;
line-height: 24px;
display: flex;
justify-content: space-between;
width: 1128px;
height: 1356px;
flex-wrap: wrap;
align-content: space-between}
.port_sec1{
    padding-bottom: 120px;
    padding-top: 96px;
}

.port-list1{
    margin-bottom: 48px;
}
.port-list2{
    margin-bottom: 48px;
}
.port-list3{
    margin-bottom: 48px;
}
.box1{
background: #FFFFFF;
border: 0.5px solid #F4F4FD;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.box-shad{
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box-shad:hover{
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
cursor: pointer;
}
.text-tit-box{
    font-weight: 600;
    margin-bottom: 8px;
font-size: 20px;
color: #2E2F42;
}
.text-lower-box{
    font-weight: 400;
font-size: 16px;
color: #434455;
}
.box_shad_pad{
    border: 0.5px solid #F4F4FD;
    border-top: none;
    padding-left: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
   opacity: 1;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) visibility 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  top: 50%;
  border-radius: 4px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  height: 576px;
  background-color: #FFFFFF;
  position: absolute;
   transform: translate(-50%, -50%)  scale(1);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  right: 24px;
  top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: #E7E9FC;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {

  background-color: #E7E9FC;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}

.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: #4D5AE5;
}


.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}
